export(dbManager)
export(sql_NULL)
export(sql_NOW)
export(dbINSERT)
export(dbINSERTx)
export(SQLquery)
export(dbIsValid)
export(dbDisconnectAll)
export(dbCOMMIT)
export(dbROLLBACK)
export(dbTRANSACTION)
export(dbSelector)
import(DBI)
importFrom(utils,packageName)
